@import "tailwindcss";

:root{
  background-color: #070322;
  font-family: 'DM Sans', sans-serif;
}

.nav-bg{
  background: conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);
}

.nav-border{
  border: 1px solid;
  border-image-source: linear-gradient(269.87deg, rgba(83, 64, 129, 0.3) 0.18%, rgba(119, 103, 159, 0) 102.37%);
}

.header-btns-bg{
  background: conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);
}

.header-btns-border{
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #77679F 0%, rgba(119, 103, 159, 0) 100%);
}

.hero-text {
  background: linear-gradient(180deg, #FFFFFF 2.39%, rgba(255, 255, 255, 0.3) 91.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
}

.get-started-bg{
  background: radial-gradient(35.55% 100% at 49.58% 0%, #B189FF 0%, #8144F6 100%);
}

.hero-signin-bg{
  background: conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);
}

.hero-signin-border{
  border: 1.11px solid;
  border-image-source: linear-gradient(180deg, #77679F 0%, rgba(119, 103, 159, 0) 100%);
}

.project-info-text{
  background: radial-gradient(35.55% 100% at 49.58% 0%, #B189FF 0%, #8144F6 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;

}

.how-it-works-title{
  background: linear-gradient(180deg, #FFFFFF 0%, #070322 139.86%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
}

.how-it-works-text{
  background: linear-gradient(180deg, #FFFFFF 0%, #514A80 139.86%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
}

.our-benefits{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
  conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);
}

.benefit-icon{
  background: radial-gradient(50.31% 50.31% at 49.69% 100%, #9769EF 0%, #6C24F5 100%);
}

.trend-assets-border{
  border: 1.44px solid;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) -1.78%, #9769EF 70.48%, #6C24F5 109.39%);
}

.buy-crypto-bg{
  background: linear-gradient(90deg, rgba(133, 71, 246, 0.04) 0%, rgba(133, 71, 246, 0.04) 100%);

}

/* Скрытие скроллбара */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari и Opera */
}

.buy-crypto-border{
  border: 1.12px solid;
  border-image-source: linear-gradient(143.44deg, rgba(208, 220, 255, 0.28) -1.16%, rgba(208, 220, 255, 0.025) 65.11%);
}

.hero-text{
  background: linear-gradient(180deg, #FFFFFF 0%, #514A80 139.86%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;

}

.visit-btn{
  background: radial-gradient(35.55% 100% at 49.58% 0%, #B189FF 0%, #8144F6 100%);
}

.faq-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.2) 0%, rgba(133, 71, 246, 0.1) 100%);
}

.about-text{
  background: linear-gradient(180deg, #FFFFFF 2.39%, rgba(255, 255, 255, 0.3) 91.52%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
}

.logo-round{
  background: linear-gradient(180deg, #8547F6 0%, #BC98FF 100%);
}

.roadmap-section{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.2) 0%, rgba(133, 71, 246, 0.1) 100%);
}

.indice-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.2) 0%, rgba(133, 71, 246, 0.1) 100%);
}

.auth-text{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(81, 74, 128, 0.5) 139.86%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;
}

.info-bg{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
  conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);
}

.listing-bg{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
  conic-gradient(from 181.06deg at 50% 50%, rgba(71, 47, 140, 0.4) 0deg, rgba(0, 0, 0, 0) 172.66deg, #493582 281.25deg, rgba(71, 47, 140, 0.4) 360deg);

}

.listing-text{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(180deg, #FFFFFF 0%, #070322 139.86%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* для Firefox */
  background-clip: text;
  color: transparent;

}

.fast-listing-bg{
  background: radial-gradient(35.55% 100% at 49.58% 0%, #B189FF 0%, #8144F6 100%);
}

.send-shadow{
  box-shadow: 0px 0px 7.31px 0px #DBC9FF inset;
}

.trend-bg{
  background: #6C24F599;
}

.platform-section-bg{
  background: radial-gradient(35.55% 100% at 49.58% 0%, rgba(177, 137, 255, 0.33) 0%, rgba(129, 68, 246, 0.13) 100%);
}

.referral-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.4) 0%, rgba(133, 71, 246, 0.2) 100%);
}

.two-fac-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.1) 0%, rgba(133, 71, 246, 0.05) 100%);
}

.two-fac-shadow{
  box-shadow: 0px 46.05px 46.05px -34.53px #0F0F0F1A;
}

.all-sessions-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.04) 0%, rgba(133, 71, 246, 0.02) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.faq-shadow{
  box-shadow: 0px 18px 40px 5px #7090B01F;
}

.notify-shadow{
  box-shadow: 0px -1px 0px 0px #34384C inset;
}

.tooltip-bg{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.08) 0%, rgba(133, 71, 246, 0.04) 100%);
}

.border-gradient {
  border-image-source: linear-gradient(143.44deg, rgba(208, 220, 255, 0.28) -1.16%, rgba(208, 220, 255, 0.025) 65.11%);
  border-image-slice: 1;
}

.soon-shadow{
  box-shadow: 0px 0px 1.59px 0px #DBC9FF inset;
}

.balance-withdraw{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.3) 0%, rgba(133, 71, 246, 0.15) 100%);
}

.benefit-shadow{
  box-shadow: 0px 1px 4px 0px #FFFFFF66 inset;
  box-shadow: 0px -3px 3px 0px #FFFFFF1A inset;
  box-shadow: 0px 2px 2px 0px #FFFFFF1A inset;
  box-shadow: 0px 0px 0px 1px #FFFFFF33 inset;
}

.arrow-down-bg{
  background: linear-gradient(180deg, #8547F6 0%, #DDCBFF 100%);
}

.tooltip-bg-balance{
  background: linear-gradient(90deg, rgba(183, 121, 245, 0.2) 0%, rgba(133, 71, 246, 0.1) 100%);
}

.MuiGauge-valueText {
  color: rgba(255, 255, 255, 1);
}